

.btn-orange{
	background-color: #F5A910;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-orange:hover{
  background-color: #073B3A;
  color: white;
}

a{
	color : white;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}